@import "./mixins.scss";

@import url(https://fonts.googleapis.com/css?family=Inter:300,regular,500,600,700&display=swap);

:root {
  --text-color: #1d1d1d;
  --border-color: #ebebeb;
  --font-size: 18px;
  --text-primary: rgba(17, 17, 17, 1);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
}

body {
  font-family: Inter, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  min-height: 100vh;
  overflow: hidden;
}

#app {
  background-color: lightgrey;
  height: 100vh;
  width: 100vw;
}
