<template>
  <div class="post">
    <form v-if="type === 'withForm'" @submit.prevent="$emit('submit')">
      <slot name="content"></slot>
      <div class="post__footer footer-post">
        <slot name="actions"></slot>
      </div>
    </form>
    <article v-if="type === 'withoutForm'">
      <slot name="content" class="post__content"></slot>
      <div
        class="post__footer footer-post"
        :class="withComments && 'post__footer--comments'"
      >
        <slot name="actions"></slot>
      </div>
      <slot name="comments"></slot>
    </article>
  </div>
</template>

<script lang="ts" setup>
import { defineProps, defineEmits } from "vue";

interface Props {
  type: "withForm" | "withoutForm";
  withComments: boolean;
}

const props = defineProps<Props>();
defineEmits(["submit"]);
</script>

<style lang="scss" scoped>
.post {
  background-color: #ffffff;
  padding: rem(24) rem(28);
  border-radius: 32px;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  min-width: rem(300);
  min-height: rem(27);
  width: 100%;
}

.post > * {
  flex-grow: 1;
}

.post__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: rem(42);
}

.post__footer--comments {
  margin-bottom: rem(14);
}
</style>
