TPostUser
<template>
  <PostBase type="withoutForm" class="post-base" :with-comments="false">
    <template #content>
      <div class="content post-base__content">
        <div class="content__text-wrapper">
          <div class="content__info info-content">
            <div class="info-content__name-section section-name">
              <div
                class="section-name__title"
                :class="post.verified && 'section-name__title--verified'"
              >
                <h3 class="section-name__name">{{ post.name }}</h3>
                <VerifiedIcon
                  v-if="post.verified"
                  class="section-name__verified"
                />
              </div>
              <ShowMoreIcon />
            </div>
            <span class="info-content__nickname"
              >{{ post.nickname }} • {{ post.date }}</span
            >
          </div>
          <p class="content__text" :class="bigText && 'content__text--large'">
            {{ post.text }}
          </p>
        </div>
        <div class="content__avatar"></div>
      </div>
    </template>

    <template #actions>
      <div class="actions">
        <label class="action" tabindex="0">
          <LikeIcon />
          <button class="hidden" @click.stop=""></button>
          <span class="action__text" v-if="post.likes">{{ post.likes }}</span>
        </label>
        <label class="action" tabindex="0">
          <CommentIcon />
          <a></a>
          <span
            class="action__text"
            v-if="post.comments?.length"
            @click.prevent="onCommentBtnClick(post.id)"
            >{{ post.comments.length }}</span
          >
        </label>
        <label class="action" tabindex="0">
          <RepostsIcon />
          <button class="hidden" @click.stop=""></button>
          <span class="action__text" v-if="post.reposts">{{
            post.reposts
          }}</span>
        </label>
      </div>
    </template>
  </PostBase>
</template>

<script lang="ts" setup>
import PostBase from "./PostBase.vue";
import VerifiedIcon from "./icons/VerifiedIcon.vue";
import ShowMoreIcon from "./icons/ShowMoreIcon.vue";
import CommentIcon from "./icons/CommentIcon.vue";
import RepostsIcon from "./icons/RepostsIcon.vue";
import LikeIcon from "./icons/LikeIcon.vue";
import { defineProps, defineEmits, computed } from "vue";
import { TPost } from "./types";

interface Props {
  post: TPost;
}

const props = defineProps<Props>();
defineEmits(["click:like", "click:comment", "click:repost"]);

const onCommentBtnClick = (postId: number) => {
  // TODO: роутер перевод по id на страницу постов
  //
};

const bigText = computed(() => props.post.text.length < 48);
</script>

<style lang="scss" scoped>
.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 100%;
  gap: rem(10);
  overflow: hidden;
  position: relative;
}

.post-base__content {
  margin-bottom: rem(12);
}
.content__text-wrapper {
  max-width: 85%;
  flex-grow: 1;
  flex-shrink: 1;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.content__info {
  margin-bottom: rem(16);
}

.content__avatar {
  position: absolute;
  top: 0;
  right: 0;
  background-color: lightgrey;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  flex-grow: 0;
  flex-shrink: 0;

  @media (max-width: 768px) {
    width: 54px;
    height: 54px;
  }
}

.info-content {
  display: flex;
  flex-direction: column;
}

.info-content__nickname {
  line-height: 140%;
  font-size: rem(14);
  color: var(--text-primary);
  opacity: 0.4;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;

  @media (max-width: 380px) {
    max-width: 70%;
  }
}

.section-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.section-name__title {
  position: relative;
  display: inline-block;
  align-items: center;
  margin-right: rem(12);

  @media (max-width: 380px) {
    max-width: 45%;
  }
}

.section-name__title--verified {
  margin-right: rem(39);
}

.section-name__verified {
  position: absolute;
  top: -2.5px;
  right: -30px;
}

.section-name__name {
  font-size: rem(20);
  line-height: 24px;
  color: var(--text-primary);
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.content__text {
  font-weight: 400;
  font-size: rem(18);
  line-height: 150%;
  color: var(--text-primary);
  word-wrap: break-word;
  text-align: left;
}

.content__text--large {
  font-size: rem(32);
  font-weight: 600;
  line-height: rem(39);
}
.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: rem(24);
}

.action__text {
  font-weight: 500;
  font-size: rem(16);
  line-height: 140%;

  @media (max-width: 568px) {
    display: none;
  }
}

.action {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(6);
}

.hidden {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  appearance: none;
  opacity: 0;
}
</style>
