<template>
  <label for="post-input-ref"></label>
  <textarea
    id="post-input-ref"
    ref="postInputRef"
    type="text"
    class="post-input"
    v-model="message"
    :maxlength="maxLength"
    :placeholder="placeholder"
  />

  <span class="post-input-error" v-if="error">{{ error }}</span>
</template>

<script lang="ts" setup>
import {
  defineProps,
  defineEmits,
  computed,
  ref,
  watch,
  onMounted,
  onUnmounted,
} from "vue";

interface Props {
  placeholder: string;
  error: string | null;
  maxLength?: number;
  modelValue: string;
}

const props = defineProps<Props>();
const emit = defineEmits(["update:modelValue"]);

const message = computed<string>({
  get() {
    return props.modelValue;
  },
  set(value) {
    emit("update:modelValue", value);
  },
});

const postInputRef = ref<HTMLElement | null>(null);

const resizeTextArea = () => {
  if (!postInputRef.value) {
    return;
  }

  postInputRef.value.style.height = "auto";
  postInputRef.value.style.height = postInputRef.value.scrollHeight + "px";
};

watch(message, () => resizeTextArea());

onMounted(() => {
  window.addEventListener("resize", () => resizeTextArea());
});

onUnmounted(() => {
  window.removeEventListener("resize", () => resizeTextArea());
});
</script>

<style lang="scss">
.post-input {
  width: 100%;
  font-size: rem(18);
  overflow: hidden;
  color: inherit;
  text-align: left;
  line-height: 150%;
  background: transparent;
  resize: none;
  padding: 0 rem(6);
  border: none;
  margin-bottom: rem(8);
}

.post-input-error {
  font-size: rem(14);
  font-weight: 500;
  color: rgba(255, 0, 0, 1);
  padding-left: rem(6);
  line-height: 140%;
  line-height: inherit;
  display: block;
  margin-bottom: rem(12);
}

.post-input::placeholder {
  opacity: 0.2;
  color: inherit;
}
</style>
