<template>
  <PostBase type="withForm" @submit="$emit('submit')" :withComments="false">
    <template #content>
      <PostInput
        :maxLength="NUMBER_WORDS_TO_ERROR + 1"
        v-model="postMessage"
        :placeholder="postPlaceholder"
        :error="postError"
      />
    </template>
    <template #actions>
      <div class="actions">
        <label class="action" tabindex="0" @keyup.enter="open()">
          <ImageIcon />
          <button
            type="button"
            @click="open()"
            class="hidden"
            name="files"
          ></button>
        </label>
        <label class="action" tabindex="0">
          <EmojisIcon />
          <input type="hidden" class="hidden" />
        </label>
      </div>
      <button type="submit" v-if="postMessage.length" class="actions__btn">
        Post
      </button>
    </template>
  </PostBase>
</template>

<script setup lang="ts">
import { defineEmits, ref, computed } from "vue";
import PostInput from "./PostInput.vue";
import PostBase from "./PostBase.vue";
import ImageIcon from "./icons/ImageIcon.vue";
import EmojisIcon from "./icons/EmojisIcon.vue";
import { useFileDialog } from "@vueuse/core";

defineEmits(["submit"]);

const IMAGE_EXTENSIONS = [".png", ".jpg", ".jpeg", ".gif"].join(",");
const NUMBER_WORDS_TO_ERROR = 216;

const postPlaceholder = "Type something about yours...";
const postMessage = ref<string>("");

const postErrorMessage = `Damn, it’s over ${NUMBER_WORDS_TO_ERROR} symbols`;
const postError = computed<string | null>(() =>
  postMessage.value.length > NUMBER_WORDS_TO_ERROR ? postErrorMessage : null
);

const { files, open } = useFileDialog({
  multiple: false,
  accept: IMAGE_EXTENSIONS,
});
</script>

<style lang="scss" scoped>
.action {
  cursor: pointer;
}

.hidden {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  appearance: none;
  opacity: 0;
}

.actions__btn {
  font-size: em(18);
  line-height: 140%;
  padding: em(8) em(24);
  background-color: #0077ff;
  border-radius: 100px;
  color: white;
  border: none;
  cursor: pointer;
}

.actions {
  padding: 0 rem(6);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: rem(15);
}
</style>
