<template>
  <BaseIcon className="emojis-icon">
    <svg
      width="30"
      height="30"
      viewBox="0 0 30 30"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M18.1519 0.0151899L11.8511 0H11.8481C5.20405 0 0 5.20557 0 11.8511C0 18.0759 6.83949 22.797 13.3392 23.0461L12.3392 28.8608C12.3392 29.0248 12.4061 29.2952 12.5215 29.4729C12.7372 29.8147 13.1048 30 13.4815 30C13.6911 30 13.9023 29.9423 14.0922 29.8208C20.354 25.836 29.9891 20.3752 30 11.8694V11.8435C29.9909 5.21013 24.7899 0.0151896 18.1519 0.0136706V0.0151899ZM14.6177 26.7722L15.6177 21.9311C15.6177 21.3023 15.1089 20.7919 14.4785 20.7919H13.877C8.31747 20.7919 2.28 17.0309 2.28 11.8511C2.28 6.48304 6.48456 2.27848 11.8496 2.27848L18.1489 2.29367H18.1519C23.517 2.29367 27.7215 6.49519 27.7246 11.8572C27.7138 18.7194 19.5343 23.5854 14.6177 26.7722Z"
        fill="#43555A"
      />
    </svg>
  </BaseIcon>
</template>
<script setup lang="ts">
import BaseIcon from "./BaseIcon.vue";
</script>

<style scoped>
.emojis-icon {
  --color: #43555a;
  --width: 30px;
  --height: 30px;
}
</style>
