<template>
  <BaseIcon className="image-icon">
    <svg
      width="30"
      height="29"
      viewBox="0 0 30 29"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M15.0015 28.9143H14.9806C11.125 28.8412 0 18.5875 0 8.8758C0 4.2103 3.76903 0.114288 8.06498 0.114288C11.4832 0.114288 13.782 2.52013 15 4.27121C16.215 2.52317 18.5138 0.114288 21.9335 0.114288C26.2325 0.114288 30 4.2103 30 8.87732C30 18.5859 18.8735 28.8397 15.0179 28.9112H15.0015V28.9143ZM8.06647 2.39983C4.96169 2.39983 2.24052 5.42692 2.24052 8.87884C2.24052 17.619 12.7401 26.5359 15.003 26.6303C17.2689 26.5359 27.7654 17.6206 27.7654 8.87884C27.7654 5.42692 25.0443 2.39983 21.9395 2.39983C18.166 2.39983 16.0583 6.87043 16.0404 6.91458C15.6971 7.77033 14.3149 7.77033 13.97 6.91458C13.9492 6.8689 11.843 2.39983 8.06797 2.39983H8.06647Z"
        fill="#43555A"
      />
    </svg>
  </BaseIcon>
</template>

<script setup lang="ts">
import BaseIcon from "./BaseIcon.vue";
</script>

<style scoped>
.image-icon {
  --color: #43555a;
  --width: 30px;
  --height: 29px;
}
</style>
