<template>
  <BaseIcon className="image-icon">
    <svg
      width="24"
      height="22"
      viewBox="0 0 24 22"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M12.6963 1.99351V6.17255V7.03523L11.8344 7.07175C7.82243 7.24174 4.97811 8.60207 3.19815 10.9985L12.6963 1.99351ZM12.6963 1.99351L22.6392 10.7609L12.6963 19.5282V15.3851V14.4596L11.7713 14.4854C9.14891 14.5585 7.0833 14.952 5.39301 15.759L5.39292 15.759C3.56065 16.634 2.25829 17.9347 0.93513 19.4992L0.93491 19.4994L0.900011 19.5407C0.903448 15.8419 1.71121 13.001 3.19809 10.9986L12.6963 1.99351Z"
        stroke="#43555A"
        stroke-width="1.8"
      />
    </svg>
  </BaseIcon>
</template>

<script setup lang="ts">
import BaseIcon from "./BaseIcon.vue";
</script>

<style scoped>
.image-icon {
  --color: #43555a;
  --width: 24px;
  --height: 22px;
}
</style>
