<template>
  <BaseIcon className="image-icon">
    <svg
      width="20"
      height="21"
      viewBox="0 0 20 21"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M10 12.375C11.0355 12.375 11.875 11.5355 11.875 10.5C11.875 9.46447 11.0355 8.625 10 8.625C8.96447 8.625 8.125 9.46447 8.125 10.5C8.125 11.5355 8.96447 12.375 10 12.375Z"
        fill="#919192"
      />
      <path
        d="M16.25 12.375C17.2855 12.375 18.125 11.5355 18.125 10.5C18.125 9.46447 17.2855 8.625 16.25 8.625C15.2145 8.625 14.375 9.46447 14.375 10.5C14.375 11.5355 15.2145 12.375 16.25 12.375Z"
        fill="#919192"
      />
      <path
        d="M3.75 12.375C4.78553 12.375 5.625 11.5355 5.625 10.5C5.625 9.46447 4.78553 8.625 3.75 8.625C2.71447 8.625 1.875 9.46447 1.875 10.5C1.875 11.5355 2.71447 12.375 3.75 12.375Z"
        fill="#919192"
      />
    </svg>
  </BaseIcon>
</template>

<script setup lang="ts">
import BaseIcon from "./BaseIcon.vue";
</script>

<style scoped>
.image-icon {
  --color: #43555a;
  --width: 20px;
  --height: 20px;
}
</style>
