<template>
  <BaseIcon className="image-icon">
    <svg
      width="20"
      height="21"
      viewBox="0 0 20 21"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M3.06883 7.91723C2.91665 7.53575 2.83242 7.11803 2.83242 6.68015C2.83242 4.87911 4.25454 3.41908 6.00869 3.41908C6.40582 3.41908 6.78587 3.49393 7.13662 3.63065C7.59886 2.52734 8.70929 1.75 10.0061 1.75C11.3012 1.75 12.4109 2.5254 12.8739 3.62652C13.2214 3.49243 13.5982 3.41908 13.9913 3.41908C15.7454 3.41908 17.1675 4.87911 17.1675 6.68015C17.1675 7.11803 17.0833 7.53575 16.9311 7.91723C18.0017 8.42146 18.7504 9.5768 18.7504 10.9214C18.7504 12.1835 18.0908 13.2788 17.1244 13.8255C17.1529 14.0017 17.1675 14.1827 17.1675 14.3673C17.1675 16.1684 15.7686 17.6284 14.0429 17.6284C13.623 17.6284 13.2222 17.542 12.8568 17.3853C12.3905 18.4801 11.2842 19.25 9.99388 19.25C8.70522 19.25 7.60008 18.4822 7.13295 17.3898C6.77 17.5436 6.37286 17.6284 5.95701 17.6284C4.23134 17.6284 2.83242 16.1684 2.83242 14.3673C2.83242 14.1827 2.84707 14.0017 2.87555 13.8255C1.90916 13.2788 1.24957 12.1835 1.24957 10.9214C1.24957 9.5768 1.99827 8.42145 3.06883 7.91723ZM14.6997 8.46169C15.0061 8.16081 15.0061 7.66748 14.6997 7.36661C14.401 7.07291 13.9221 7.07291 13.6234 7.36661L8.90094 12.0092L7.27618 10.412C6.97752 10.1183 6.49819 10.1183 6.19952 10.412C5.89353 10.7128 5.89353 11.2062 6.19952 11.507L8.40004 13.6701C8.67796 13.9434 9.12351 13.9434 9.40183 13.6701L14.6997 8.46169Z"
        fill="#0077FF"
      />
    </svg>
  </BaseIcon>
</template>

<script setup lang="ts">
import BaseIcon from "./BaseIcon.vue";
</script>

<style scoped>
.image-icon {
  --color: #43555a;
  --width: 20px;
  --height: 20px;
}
</style>
