dataTPostUser
<template>
  <div class="container">
    <TypePost class="app__post" @submit="onSubmit" />
    <template v-for="post in posts" :key="post.id">
      <Post class="app__post" :post="post" />
    </template>
    <!-- <PostWithComments :post="posts[0]" /> -->
  </div>
</template>

<script lang="ts" setup>
import TypePost from "./components/TypePost.vue";
import Post from "./components/Post.vue";
import { TPost } from "./components/types";
import { Ref, ref } from "vue";
// import PostWithComments from "./components/PostWithComments.vue";
import { data } from "./components/post";

const posts: Ref<TPost[]> = ref(data);

const onSubmit = async () => {
  console.log("submit");
  //Думаю можно тоже будет в хук вынести
  /*
  const url = "/";
  const formData = new FormData();
  formData.append("file", files.value![0]);
  formData.append("fileName", files.value![0].name);
  const config = {
    headers: {
      "content-type": "multipart/form-data",
    },
  };
  const { data } = await axios.post(url, formData, config);
  console.log(data);
  */
};
</script>

<style lang="scss">
.container {
  max-width: 768px;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}

.app__post:not(:last-child) {
  margin-bottom: 30px;
}
</style>
